<div class="login_body">
  <img src="/images/bookcamp_logo.svg" class="logo_login" alt="">
  <form action="/auth/login" method="POST" id="form-container">
    <div class="button_mail"><input id="username" type="text" name="username" placeholder="EMAIL"></div>
    <div class="button_password"><input id="password" type="password" name="password" placeholder="PASSWORD"></div>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    <div><button class="button_login">LOG IN</button></div>

    {{#unless user}}
    <div class="login_google">
      <a href="/auth/google"></a>
    </div>
    {{/unless}}

    <p class="account-message">
      Don't have an account yet? <a href="/auth/signup">Signup</a>

    </p>
  </form>
</div>