<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{bookcamp}}</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body class="body_pp">
  <div class="button_search"><form action="/search" method="POST"><input id="search" type="text" name="search"><button>Search</button></form></div>
  {{{body}}}
  <nav>
    <img src="/images/myposts.svg" alt="mypost">
    <img src="/images/AddPost.svg" alt="createpost">
    <img src="/images/Feed.svg" alt="feed">
    <img src="/images/Favorites.svg" alt="favorite">
    <img src="/images/Edit_Profile.svg" alt="edit">
  </nav>
  <script src="/javascripts/script.js"></script>
</body>

</html>