<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{bookcamp}}</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="main-wrapper">
    <div class="button_search"><form action="/search" method="POST"><input id="" type="text" name="search"></form></div>
    {{{body}}}
    <nav>
      <a href="/feed/user"><img src="/images/myposts.svg" alt="mypost"></a>
      <a href="/create"><img src="/images/AddPost.svg" alt="createpost"></a>
      <a href="/feed"><img src="/images/Feed.svg" alt="feed"></a>
      <img src="/images/Favorites.svg" alt="favorite">
      <a href="/profile"><img src="/images/Edit_Profile.svg" alt="edit"></a>
    </nav>
    <script src="/javascripts/script.js"></script>
  </div>
</body>

</html>