<h1>login</h1>
<br>
<form action="/login" method="POST">
<input id="email" type="text" name="email" placeholder="Email">
<br>
<input id="password" type="password" name="password" placeholder="Password">
<br>
<button type="submit">Log in</button>
</form>
<a href="sign-up">Don't have an account</a>