
<h1>sing-up</h1>


<form action="/sign-up" method="POST">
<input id="nameAndSurname" type="text" name="nameAndSurname" placeholder="name and surname">
<input id="email" type="text" name="email" placeholder="Email">
<input id="password" type="password" name="password" placeholder="Password">

<select id="schools">
    <option value="empty">Select School</option>
  {{#each schools}}
  <option value={{this.name}}>{{this.name}}</option>
  {{/each}}
</select>

{{#each schools}}
<select class="hidden {{this.name}} school-option">
    <option value="school">Select your course</option>
  {{#each this.courses}}
  <option>{{this}}</option>
  {{/each}}
</select>
{{/each}}
 


<button type="submit">Sign up</button>
</form>

<a href="/">Do you have an account</a> 