<h1>sing-up</h1>
<br>
<form action="/sign-up" method="POST">
<input id="nameAndSurname"   type="text" name="nameAndSurname" placeholder="name and surname">
<input id="email" type="text" name="email" placeholder="Email">
<input id="password" type="password" name="password" placeholder="Password">
<input id="school" type="text" name="school" placeholder="School">
<input id="course" type="text" name="course" placeholder="Couse">
<input id="hobbies" type="text" name="hobbies" placeholder="Hobbies">
<br>

<button type="submit">Sign up</button>
<a href="/">Do you have an account</a>
</form>