body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bababa;
}

a {
  color: #fcfcfc;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
  padding-bottom: 5px;
}

.main-wrapper {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/background_gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login_body {
  width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/background_gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login_body #form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_login {
  margin: 120px 0px;
  width: 246px;
  height: 46px;
}

input {
  background-color: rgba($color: #ffffff, $alpha: 0);
  width: 100%;
  border: 0;
  font-size: 14px;
}

.login_body input {
  padding: 15px;
  margin-left: 30px;
  color: #fcfcfc;
}

input:focus {
  outline: none;
}

.login_body ::placeholder,
.button_search ::placeholders {
  color: #fcfcfc;
}

.error-message {
  color: #fcfcfc;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.button_mail,
.button_password,
.login_google {
  width: 246px;
  height: 48px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.commentDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
  margin: 5px 0;
  border-radius: 20px;
  padding: 5px 0;
}

.comment-box input {
  padding-left: 30px;
}

.button_search {
  position: fixed;
  top: 1vw;
  background-image: url("../images/boton_search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-bottom: 20px;
  height: 24px;
  width: 300px;
}

.button_search input {
  width: 300px;
  padding: 15px 15px 15px 15px;
  margin-left: 30px;
  color: #fcfcfc;
}

.button_mail {
  background-image: url("../images/Boton_email.svg");
}

.button_password {
  background-image: url("../images/boton_password.svg");
}

.button_login {
  width: 150px;
  height: 47px;
  background: #fcfcfc;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #848484;
  margin-bottom: 20px;
}

.login_google {
  width: 209px;
  height: 47px;
  margin-bottom: 50px;
}

.account-message {
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: #edeef0;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.signup {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #fcfcfc;
}

.logo_verde {
  margin: 50px 0;
}

.linegreen {
  height: 2px;
  display: block;
  margin-bottom: 30px;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #009386;
}

#form-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup select,
button {
  background-color: #009386;
  padding: 10px 10px;
  width: 200px;
  border-radius: 20px;
  color: #fcfcfc;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  text-align-last: center;
}

.signup button {
  background-color: #6ba143;
}

.signup p,
.signup a {
  color: #6ba143;
}

.bottom_signup {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_feed {
  align-items: center;
  width: 100%;
  background-color: #fcfcfc;
}

.onePost {
  background-color: #fcfcfc;
  padding: 20px 10px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.postTitle {
  padding: 5px 0px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
  bottom: 0;
}

nav img {
  width: 20px;
}

.userData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  background-color: #fcfcfc;
}

.userDataGroup {
  display: flex;
  align-items: center;
  padding: 0px 0 10px 10px;
}

.intWrapper {
  width: 90%;
}

.btn-content {
  color: black;
}

.wrapper {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfcfc;
  width: 100%;
  height: 80vh;
  overflow: scroll;
}

.userPhotoPost {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.fileImg,
.urlImg {
  display: flex;
  justify-content: center;
  align-content: center;
}

.comment-length {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .divComment {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      margin-right: 10px;
    }
  }
}

.fileImg img,
.urlImg img {
  width: 100px;
}

.post-comments {
  padding: 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;


  li {
    padding: 10px 0;
    border-bottom: 1px solid rgba($color: #6ba143, $alpha: 0.1);
    display: flex;
    align-items: center;
  }

  img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  span {
    color: #009386;
    font-weight: bold;
    margin-right: 10px;
  }
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 50%;
    object-fit: contain;
    border-radius: 50%;
  }
}

.heart {
  width: 22px;
  height: 19px;
  fill: #009386;
}

.fav {
  fill: red;
}

.create {
  color: #848484;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
  }

  .textArea {
    padding: 10px;
    width: 90%;
    height: 15vh;
    border: 0;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  input {
    border: #F2F2F2 1px solid;
    border-radius: 10px;
  }

  .formCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    margin-top: 20px;
  }
}

.createButtons {
  margin: 20px 0;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    height: 50px;
  }
}