body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-image: url("../images/background_gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
}


a {
  color: #FCFCFC;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
  padding-bottom: 5px;
}

.body_pp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_body #form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_login {
  margin: 120px 0px;
  width: 246px;
  height: 46px;
}

input {
  background-color: rgba($color: #ffffff, $alpha: 0);
  border: 0;
  font-size: 14px;
}

.login_body input {
  padding: 15px;
  margin-left: 30px;
  color: #FCFCFC;
}

input:focus {
  outline: none;
}

.login_body ::placeholder,
.button_search ::placeholders {
  color: #FCFCFC;
}

.error-message {
  color: #FCFCFC;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.button_mail,
.button_password,
.login_google {
  width: 246px;
  height: 48px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.button_search {
  position: fixed;
  top: 3vw;
  background-image: url("../images/boton_search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-bottom: 20px;
  height: 24px;
  width: 300px;
}

.button_search input {
  width: 300px;
  padding: 15px 15px 15px 15px;
  margin-left: 30px;
  color: #FCFCFC;
}

.button_mail {
  background-image: url("../images/Boton_email.svg");
}

.button_password {
  background-image: url("../images/boton_password.svg");
}

.button_login {
  width: 150px;
  height: 47px;
  background: #FCFCFC;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #848484;
  margin-bottom: 20px;
}

.login_google {
  width: 209px;
  height: 47px;
  background-image: url("../images/login_google.svg");
  margin-bottom: 50px;
}

.account-message {
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: #EDEEF0;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.signup {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #FCFCFC;
}

.logo_verde {
  margin: 50px 0;
}

.linegreen {
  height: 2px;
  display: block;
  margin-bottom: 30px;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #009386;
}

#form-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup select,
button {
  background-color: #009386;
  padding: 10px 10px;
  width: 200px;
  margin-bottom: 20px;
  border-radius: 20px;
  color: #FCFCFC;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  text-align-last: center;
}

.signup button {
  background-color: #6BA143;
}

.signup p,
.signup a {
  color: #6BA143;
}

.bottom_signup {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_feed {
  align-items: center;
  width: 100%;
  background-color: #FCFCFC;
}

.onePost {
  background-color: #FCFCFC;
  padding: 20px 10px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.postTitle {
  padding: 10px 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 10vh;
  bottom: 0;
}

nav img {
  width: 20px;
}

.userData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  background-color: #FCFCFC;
}

.userDataGroup {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 20px;
}

.intWrapper {
  width: 90vw;
}

.wrapper {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FCFCFC;
  width: 100vw;
  height: 80vh;
  overflow: scroll;
}

.userPhotoPost {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.fileImg,
.urlImg {
  display: flex;
  justify-content: center;
  align-content: center;
}

.fileImg img,
.urlImg img {
  width: 100px;
}